.mainbox {
    margin: auto;
    height: 550px;
    width: 650px;
    position: relative;
  }
    
  .text {
    color: #95c2de;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
    position:absolute;
    text-align: center;
    left: 8%;
    top: 20%;
  }
    
  .buttons {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position:absolute;
    left: 15%;
    top: 45%;
    width: 80%;
  }
    
  a {
    text-decoration: none;
    color: #95c2de;
  }
    
  a:hover {
    text-decoration: underline;
  }
    
  .aButton {
    margin-top: 20px;
    margin-right: 5px;
    position: relative;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    background-color: #3a8bcd;
    outline: none;
    border-radius: 5px;
    padding: 10px 15px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-decoration: none;
    transition: all 0.5s;
    box-shadow: none;
    border: none;
  }