<div class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Product Details</h1>
                </div>
            </div>
            <div class="col-md-6" *ngIf="product">
                <div class="product-slider">
                    <div id="slider" class="flexslider">
                        <img src="{{product!.image}}" />
                    </div>
                </div>
            </div>
            <div class="col-md-6" *ngIf="product">
                <div class="right-content">
                    <h4>{{product!.productName | titlecase}}</h4>
                    <h6>${{product!.price}}</h6>
                    <p>{{product!.description}}</p>

                    <span *ngIf="product!.quantity == 0">Out of stock</span>
                    <span *ngIf="product!.quantity > 0">{{product!.quantity}} left on stock</span>

                    <ng-container *ngIf="isLogged">
                        <ng-container *ngIf="!isOwner">
                            <form *ngIf="product!.quantity > 0" #form="ngForm" action="" method="get" (ngSubmit)="orderProduct(form)">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="number" class="quantity-text" id="quantity"
                                    placeholder="0" ngModel
                                    #quantity="ngModel" required min="1" max="{{product!.quantity}}">
                                <ng-container *ngIf="quantity.touched" && quantity.invalid>
                                    <p *ngIf="quantity.errors?.['required']" class="error">
                                        Quantity is required!
                                    </p>
                                    <p *ngIf="quantity.errors?.['min']" class="error">
                                        Quantity can not be 0!
                                    </p>
                                    <p *ngIf="quantity.errors?.['max']" class="error">
                                        Quantity can not be more than the items in stock!
                                    </p>
                                </ng-container>
                                <input type="submit" class="button" value="Order Now!">
                            </form>
                        </ng-container>

                        <ng-container *ngIf="isOwner">
                            <button class="button" routerLink="/edit/{{product!._id}}">Edit product</button>
                            <button class="remove-button" (click)="removeProduct(product!._id)">Remove
                                product</button>
                        </ng-container>

                    </ng-container>

                    <ng-container *ngIf="!isLogged">
                        <h4><button class="button" routerLink="/login">Login</button> to make your order! </h4>
                    </ng-container>

                    <div class="down-content">
                        <div class="categories">
                            <h6>Category: <span>{{product!.category}}</span></h6>
                        </div>
                    </div>
                    <button class="button" routerLink="/products">Back to products</button>
                </div>
            </div>
            <ng-container *ngIf="!product">
                <h4>Loading product...</h4>
            </ng-container>
        </div>
    </div>
</div>