<header>
  <div id="pre-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <span>Choose a unique design for your clothes!</span>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <!-- <a class="navbar-brand" href="#"><img src="assets/images/header-logo.png" alt=""></a> -->
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/products">Products</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="#"></a> -->
          </li>
          <ng-container *ngIf="!isLogged">
            <li routerLinkActive="active" class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
              <a class="nav-link" routerLink="/register">Register</a>
            </li>
          </ng-container>

          <ng-container *ngIf="isLogged">
            <li routerLinkActive="active" class="nav-item">
              <a class="nav-link" routerLink="/create">Create</a>
            </li>
            <li routerLinkActive="active" class="nav-item" (click)="logout()">
              <a class="nav-link" routerLink="">logout</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
              <a class="nav-link" routerLink="/profile">My Profile</a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>
</header>