h4 {
	color: #1e1e1e;
	text-align: center;
}

.free-shipping {
	color: tomato;
    text-align: center;
    margin-top: inherit;
    font-size: large;
}

.Accordion {
	width: 20%;
	margin-right: 2%;
	margin-left: 2%;
}

.category {
	cursor: pointer;
}

.category:focus {
	background-color: #3a8bcd;
	color: white;
}

.products-container {
	display: flex;
    padding-left: 5%;
    padding-right: 5%;
	margin-top: 5%;
}

.featured-page {
	margin-top: 80px;
	margin-bottom: 40px;
}

.featured-page .section-heading {
	margin-top: 0px;
	margin-bottom: 0px;
}

.featured-page #filters {
	margin-top: 15px;
	text-align: right;
}
.products-container .featured-item {
	margin-bottom: 30px;
	text-decoration: none;
}
.products-container .featured-item h4 {
	transition: all 0.5s;
	color: #1e1e1e;
}
.products-container .featured-item:hover h4 {
	color: #3a8bcd;
}
#filter button {
	outline: none;
}
#filter .btn-primary.focus,
.btn-primary:focus {
	color: #3a8bcd!important;
	box-shadow: none!important;
}
#filters .btn-primary {
	color: #1e1e1e;
	border: none;
	font-size: 15px;
	font-weight: 700;
	background-color: transparent;
}

img {
	width: 300px;
	height: 300px;
}