<div class="home-container">
  <div class="Accordion" cListGroup>
    <a *ngFor="let category of categories" [routerLink] cListGroupItem>{{category._id}}</a>
  </div>
  <div class="banner">
    <c-carousel>
      <!-- <c-carousel-indicators></c-carousel-indicators> -->
      <c-carousel-inner>
        <c-carousel-item *ngFor="let slide of slides">
          <img
            [src]="slide.src"
            alt="{{ slide.title }}"
            class="d-block w-100 carouselImg"
            loading="lazy" />
        </c-carousel-item>
      </c-carousel-inner>
      <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
      <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
    </c-carousel>
  </div>
  <c-card class="cCard">
    <img cCardImg="top" src="../../assets/images/big-01.jpg">
    <c-card-body>
      <p cCardText>
        Some quick example <strong>text</strong> to build on the card title and make up the bulk of the card's content.
      </p>
    </c-card-body>
  </c-card>
</div>


<div class="featured-items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Recent Items</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div *ngIf="recentProducts" class="owl-carousel owl-theme">
                    <a *ngFor="let product of recentProducts" routerLink="/products/{{product._id}}">
                        <div class="featured-item">
                            <img src="{{product.image}}" alt="Item 1">
                            <h4>{{product.productName | titlecase}}</h4>
                            <h6>${{product.price}}</h6>
                            <span *ngIf="product!.quantity == 0">Out of stock</span>
                            <span *ngIf="product!.quantity > 0">In stock</span>
                            <h5 class="free-shipping">FREE SHIPPING</h5>
                            <input type="submit" class="button" value="BUY!">
                        </div>
                    </a>
                </div>
                <div *ngIf="!recentProducts" class="owl-carousel owl-theme">
                    <h4>No products yet...</h4>
                </div>
            </div>
        </div>
    </div>
</div>