<div class="home-container">
<c-accordion class="Accordion">
    <c-accordion-item #item0="cAccordionItem" [visible]="false">
      <ng-template cTemplateId="accordionHeaderTemplate">
        <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton>
          Accordion item #0
        </button>
      </ng-template>
      <ng-template cTemplateId="accordionBodyTemplate">
        <div class="accordion-body">
          <strong>This is the first item's accordion body.</strong> It is hidden by default,
          until the collapse plugin adds the appropriate classes that we use to style each
          element. These classes control the overall appearance, as well as the showing and
          hiding via CSS transitions. You can modify any of this with custom CSS or overriding
          our default variables. It's also worth noting that just about any HTML can go within
          the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </ng-template>
    </c-accordion-item>
    <c-accordion-item #item1="cAccordionItem" [visible]="false">
      <ng-template cTemplateId="accordionHeaderTemplate">
        <button (click)="item1.toggleItem()" [collapsed]="!item1.visible" cAccordionButton>
          Accordion item #1
        </button>
      </ng-template>
      <ng-template cTemplateId="accordionBodyTemplate">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden by default,
          until the collapse plugin adds the appropriate classes that we use to style each
          element. These classes control the overall appearance, as well as the showing and
          hiding via CSS transitions. You can modify any of this with custom CSS or overriding
          our default variables. It's also worth noting that just about any HTML can go within
          the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </ng-template>
    </c-accordion-item>
    <c-accordion-item #item2="cAccordionItem" [visible]="false">
      <ng-template cTemplateId="accordionHeaderTemplate">
        <button (click)="item2.toggleItem()" [collapsed]="!item2.visible" cAccordionButton>
          Accordion item #2
        </button>
      </ng-template>
      <ng-template cTemplateId="accordionBodyTemplate">
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden by default,
          until the collapse plugin adds the appropriate classes that we use to style each
          element. These classes control the overall appearance, as well as the showing and
          hiding via CSS transitions. You can modify any of this with custom CSS or overriding
          our default variables. It's also worth noting that just about any HTML can go within
          the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </ng-template>
    </c-accordion-item>
  </c-accordion>

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="caption">
                    <h2>Creative Shop</h2>
                    <div class="line-dec"></div>
                    <p>Choose your favorite design and order your t-shirt
                        <br><br>Please tell your friends about this awesome website.
                    </p>
                    <div class="main-button">
                        <a routerLink="/products">Shop Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="featured-items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Recent Items</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div *ngIf="recentProducts" class="owl-carousel owl-theme">
                    <a *ngFor="let product of recentProducts" routerLink="/products/{{product._id}}">
                        <div class="featured-item">
                            <img src="{{product.image}}" alt="Item 1">
                            <h4>{{product.productName | titlecase}}</h4>
                            <h6>${{product.price}}</h6>
                        </div>
                    </a>
                </div>
                <div *ngIf="!recentProducts" class="owl-carousel owl-theme">
                    <h4>No products yet...</h4>
                </div>
            </div>
        </div>
    </div>
</div>